@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400i&display=swap');

:root {
	--light:#f1f1f1;
	--gray:#c1c1c1;
	--blue:#0439D9;
	--red:#F20505;
	--red-clear:#F20732;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	font-family: 'calibri', sans-serif;
	font-size: 1.2rem;
	background-color: #272727;
	width: 100%;
}

a {
	display: block;
	list-style: none;
	text-decoration: none;
}

.nav {
	width: 100%;
	display:flex;
	justify-content: space-between !important;
	align-items: center;
	padding: 10px 150px;

	.nav-brend {
		color:var(--light);
		font-size: 1.2rem;
		span {
			font-size: 1.5rem;
		}
	}

	.bars {
		display:none;
		transform: rotateY(190deg);
		cursor:pointer;
		div {
			width: 50px;
			height: 2px;
			background-color: #fff;
			margin-top: 4px;
		}

		div:nth-child(2) {
			width: 40px;
		}

		div:nth-child(3) {
			width: 30px;
		}
	}

	.nav-navbar {
		display:flex;
		.nav-item {
			padding-left: 20px;
			list-style: none;
			position: relative;
			&:nth-child(4) a{
				border:1px solid var(--gray);
				padding: 5px 30px;
				border-radius:50px;
			}
			
			&:nth-child(5) a {
				color:var(--light);
			}	

			&:nth-child(5):before{
				position: absolute;
				content: "";
				width: 5px;
				height: 5px;
				background-color: var(--red-clear);
				border-radius:50px;
				transform: translate(50%, 50%);
				top:12px;
				right:15px;
			}

			.nav-link {
				color:var(--gray);
				padding: 5px;
			}
			.active {
				position: relative;
				color:var(--light) !important;
	
				&:after {
					content:"";
					position: absolute;
					width: 50px;
					height: .5px;
					background-color: var(--gray);
					transform: translate(0%, 50%);
					left:10px;
					top:35px;
				}
			}
		}
	}

	// menu responsivo

	.nav-response {
		position: absolute;
		margin-top: 220px;
		left: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: black;
		z-index: 2;
		width: 100%;
		transition: .5s ease-in-out;
		border-left:2px solid red;
		.nav-navbar {
			display: none;
			padding: 10px;
			.nav-item {
				padding-top: 20px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;

				&:nth-child(1) {
					display: flex;
					align-items: end;
					justify-content: end;
					margin-top: 10px;
					& a{
						font-size: 1.5rem;
					}
				}

				&:nth-child(4) a {
					border:none;
				}

				&:nth-child(5) a {
					border:1px solid var(--gray);
					padding: 5px 30px;
					border-radius:50px;
				}

				&:nth-child(5):before{
					display: none;
				}
			
				&:nth-child(6) a {
					color:var(--light);
				}	

				&:nth-child(6):before{
					position: absolute;
					content: "";
					width: 5px;
					height: 5px;
					background-color: var(--red-clear);
					border-radius:50px;
					transform: translate(50%, 50%);
					top:12px;
					right:15px;
				}
			}
		}
	}
}

// Classe do nosso toggle.
.abrir {
	left: 0% !important;
	opacity: 1 !important;
	visibility: visible !important;
}

.container {
	position:relative;
	margin: auto 20%;
	.content {
		flex-wrap: wrap;
		display: grid;
		grid-template-areas: "template1 template2";
		.info {
			grid-area: template1;
			margin-top: 50px;
			width: 100%;
			h1 {
				width: 400px;
				font-size: 4rem;
				margin-bottom: 50px;
				color:var(--gray);
				font-weight: 100;
			}

			p {
				color:var(--light);
				width: 400px;
				padding-left: 35px;
				border-left:1px solid var(--gray);
			}
			
			.select {
				margin-top: 40px;
				select {
					margin: 40px;
					background-color: transparent;
					color:var(--light);
					font-weight: 600;
					text-transform: uppercase;
					border:none;
					padding: 5px;
					border-bottom: 1px solid var(--red-clear);
					-webkit-appearance: none;
			   		-moz-appearance: none;
			   		appearance: none;
			   		cursor:pointer;
			   		&:focus {
			   			background-color: var(--red-clear);
			   		} 
				}
			}
		}

		.midia {
			grid-area: template2;
			position: relative;
			width: 100%;
			img {
				top:-100px;
				z-index: 1000;
			}
			p {
				position: absolute;
				font-family: 'Roboto', sans-serif;
				top:-10px;
				font-size: 15rem;
				font-weight: 100;
				color:var(--gray);
				z-index: -1000;
			}
		}
	}
	

	.social {
		position:absolute;
		transform: translate(50%,50%);
		left: -180px;
		top:250px;
		display: flex;
		flex-direction: column;
		width: 50px;
		justify-content: center;

		.social-desc {
			display: flex;
			transform: rotate(-90deg);
			position: relative;
			margin: 10px;
			p {
				color:var(--gray);
				padding: 5px;
				width: 100%;
			}
			.bold {
				font-weight: bold;
			}
		}

		i {
			color:rgba(0,0,0,.8);
			background-color: var(--gray);
			padding: 10px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 5px;
			border-radius: 50px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}


@media (max-width:900px) {
	.nav {
		padding: 10px 30px 0px 150px;
		.nav-navbar {
			display: none !important;
		}

		.bars {
			display: block;
		}

		.nav-response {
			.nav-navbar {
				display: block !important;
			}
		}
	}

	.container {
		.content {
			grid-template-areas: "template1 template1" 
								 "template2 template2";
		}
		.social {
			left:-35%;
		}
	}

}

@media (max-width:430px) {
	.nav {
		padding: 5%;
		.nav-response {
			.nav-navbar {
				.nav-item {
					&:nth-child(4) a{
						width: 100%;
					}
				}
			}
		}
	}

	.container {
		.content {
			.info {
				h1 {
					font-size: 2rem;
					width: 100%;
					padding-left: 20%;
				}

				p {
					width: 100%;
				}
			}

			.midia {
				p {
					font-size: 5rem;
				}

				img {
					width: 200px;
				}
			}
		}
	}
}